//Breakpoints
$screen-xs: 425px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1500px;

// Mixins
@mixin xs {
  @media (min-width: #{$screen-xs}) {
    @content;
  }
}
@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: #{$screen-xxl}) {
    @content;
  }
}
